html, body{
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: transparent;
  font-size: 20px;
  color: #222;
}

html {
  scroll-behavior: smooth;
}

.start-pad{
  padding-top: 2rem;
}

.intro{
  width: 60%;
  text-align: left;
  margin: 0 auto;
}

.padding{
  padding-bottom: 1rem;
}

.title{
  width: 70%;
  margin: 0 auto;
}

.subtitle{
  width: 65%;
  margin: 0 auto;
}

.content{
  width: 60%;
  margin: 0 auto

  ;
}
 
.nav-head {
  font-weight: 800;
  font-size: 40px;
  font-variant: small-caps;
  text-align: center; 
  opacity: 0.7;
  text-shadow: 2px 4px 3px rgba(1,1,1,0.8);
}

.nav-item{
  font-size: 20px;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 auto;
  font-weight: 800;
  font-variant: small-caps;
  text-align: left;
  line-height: 1.2;
  letter-spacing: 1.3px;
  opacity: 0.7;
}

a:visited{
  color: purple;
}

a:hover{
  color: #0000CD;
  transition-duration: 0.2s;
  text-decoration: none;
}

h1 {
  font-size: 50px;
}

h3{
  font-size: 35px;
}

h4, h5{
  color: #2C3539;
}

hr.short {
  max-width: 150px;
  margin-top: 0px;
  margin-bottom: 1rem;
  margin-left: 0px;
  border-width: 3px;
  border-color: inherit;
  border-radius: 0px;
  opacity: 0.7;
}

hr.section {
  max-width: 70%;
  margin-top: 0px;
  margin-bottom: 1rem;
  margin-left: 15%;
  border-width: 2px;
  border-color: inherit;
  border-radius: 0px;
  opacity: 1;
  color: #2C3539;
}
.card{
  background-color: #A9A9A9;
}

.card-title{
  opacity: 1.0;
}

/* Table Properties */
.table-responsive{
  width: 60%;
  margin: 0 auto;
  padding: 1rem 0rem;
}

tr:hover{
  background-color: #778899;
  transition-duration: 0.5;
}

.caption{
  caption-side: top;
  text-align: center;
}

.carousel-indicators {
  position: absolute;
  bottom: -40px;
}

.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #0000ff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 24px;
    height: 24px;
    transition-duration: 0.5s;
    margin: 10px;
    background-color: #2B547E;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: #566D7E;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: #566D7E;
}


/* Footer Properties */
footer{
  background-color: rgba(12,31,60, 0.7);
  text-align: center;
  color: #ddd;
}

.ending h4{
  color: white;
  font-variant: normal;
  text-align: center;
}

.icons a{
  font-size: 4.5em;
  padding: 3rem;
}

.icons a:visited{
  color: white;
}

.fa-facebook-official, .fa-envelope, .fa-github{
  color: #FFFFFF;
}

.fa-facebook-official:hover, .fa-envelope:hover, .fa-github:hover{
  color: #2C3539;
  transition-duration: 0.5s;